#about{
    background-color: rgb(202, 237, 244);
    color: #fff;
  }

  #footer{
    height: 400px;
    width: 100%;
    /* background-color: rgb(202, 237, 244); */
    /* padding: 7% 15% 15% 15%; */
    /* margin-bottom: auto; */
    /* padding-top: 7%; */
    text-align: center;
  }

  .social-icon{
      margin: 20px 10px;
  }

  @media (max-width: 1028px){
      #title{
          text-align: center;
      }

      .title-image{
          position: static;
          transform: rotate(0);
      }
  }

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
}

.carousel-item{
  padding: 7% 15%;
}
.b1{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ed7009;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.b1:hover {background-color: #c45f07}
.b1:active {
    background-color: #eac147;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.f1{
    height: 100%;
    width: 100%;
}



/* Slideshow container */
.slideshow-container {
    width: 100%;
    padding-top: 3%;
    max-width: 700px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

    color: #150202;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
   */
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
 
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }