{% load static %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <title>Document</title>
</head>
<body>

    <section id="footer">
        <!-- <div class="f1" style="background-image: url(c.jpg);
background-size: cover; text-align: center;"> -->
            <footer id="footer1">
                <i class="social-icon fab fa-facebook-f"></i>
                <i class="social-icon fab fa-twitter"></i>
                <i class="social-icon fab fa-instagram"></i>
                <i class="social-icon fas fa-envelope"></i>
                <p>© Copyright MagicNotes</p>
            </footer>
    </section>
    
</body>
</html>

{% endblock %}